@media screen and (max-width: 480px) {
    #header{
        height: 40px;
        gap: 12px;
        padding-block: 24px;
    }
    #header-icon{
        height: 32px;
        width: 32px;
        margin-left: 12px;
        filter: brightness(100%);
    }
    #header-title{
        font-size: 28px;
    }
    #player-bag{
        height: 32px;
        width: 32px;
        filter: brightness(100%);
    }
    #light-mode, #dark-mode{
        height: 32px;
        width: 32px;
        margin-right: 12px;
        filter: brightness(100%);
    }
    #content{
        height: auto;
        padding-top: 40px;
        padding-inline: 12px;
    }
    #top-nav{
        padding-inline: 12px;
        padding-top: 24px;
        padding-bottom: 12px;
    }
    #howto-play, #stats, #coffee{
        font-size: var(--small-font-size);
        text-transform: capitalize;
        filter: brightness(100%);
    }
    #tagline-wrapper{
        padding: 12px;
    }
    #tag-line{
        font-size: var(--small-font-size);
        text-align: center;
    }
    #game-nav{
        flex-direction: column;
        gap: 24px;
    }
    #catalog, #contracts, #shop{
        height: 120px;
        width: 120px;
        filter: brightness(100%);
    }
    #catalog-title, #contracts-title, #shop-title{
        font-size: var(--small-font-size);
    }
    #introduction{
        padding-top: 12px;
        padding-bottom: 24px;
        font-size: var(--small-font-size);
    }
    #footer{
        padding: 12px;
        gap: 24px;
    }
    #footer-info{
        justify-content: center;
    }
    #bewitch-game img{
        height: 32px;
        width: 32px;
    }
    #bewitch-game h1{
        font-size: var(--large-font-size);
    }
    #bewitch-info{
        font-size: var(--small-font-size);
    }
    #footer-nav{
        padding-top: 12px;
    }
    #copyright{
        font-size: var(--small-font-size);
    }
    #socials{
        gap: 12px;
    }
    #socials i{
        font-size: var(--normal-font-size);
    }
    #spell-wrapper, #witch-wrapper{
        margin-block: 12px;
        gap: 12px;
    }
    #witch-wrapper{
        height: 468px;
    }
    #spellimg-wrapper, #witchimg-wrapper{
        height: 148px;
        padding: 12px;
    }
    #spell-img, #witch-img{
        height: 80px;
        width: 80px;
        filter: brightness(100%);
    }
    #spell-title, #witch-name{
        font-size: var(--small-font-size);
        width: 80px;
    }
    #catalog-backbtn, #contracts-backbtn{
        font-size: var(--small-font-size);
    }
    #catalog-backtext, #contracts-backtext{
        font-size: var(--small-font-size);
    }
    /*Contract*/
    #contract-wrapper{
        flex-direction: column;
        margin-block: 12px;
        padding: 12px;
        gap: 12px;
    }
    #contract-img{
        height: 120px;
        width: 120px;
    }
    #contractinfo-wrapper{
        gap: 12px;
        align-items: center;
    }
    #contract-name{
        font-size: var(--normal-font-size);
    }
    #contract-info{
        font-size: var(--small-font-size);
        text-align: center;
    }
    #duel-btn{
        padding: 8px;
        border-radius: 24px;
        width: 80px;
        text-align: center;
        cursor: pointer;
        font-size: var(--small-font-size);
    }
    #contractcards-wrapper{
        padding-inline: 12px;
        gap: 12px;
        border-radius: 24px;
        margin-bottom: 12px;
    }
    #contractcards-title{
        font-size: var(--normal-font-size);
    }
    #contractcardsimg-wrapper{
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
    }
    #contractcards-img{
        height: 180px;
        width: 132px;
    }
    #contractcards-img:hover{
        filter: brightness(100%);
        transition: 0.3s ease-in-out;
    }
    /*duel*/
    #duel-popup-wrapper{
        height: 300px;
        width: 300px;
        padding: 12px;
        top: 132px;
        gap: 12px;
    }
    #duel-img{
        height: 160px;
        width: 160px;
    }
    #duel-reward-title{
        font-size: var(--normal-font-size);
    }
    #duel-play-btn, #duel-unlocked-btn{
        font-size: 12px;
        padding: 8px;
        width: 80px;
        text-align: center;
        border-radius: 24px;
        cursor: pointer;
    }
    #duel-locked-btn{
        font-size: 12px;
        padding: 8px;
        width: auto;
        text-align: center;
        border-radius: 24px;
        cursor: pointer;
    }
    #duel-btn-price{
        height: 18px;
        width: 18px;
    }
    /*battle*/
    #play-field{
        margin-top: 24px;
        margin-bottom: 12px;
        padding: 12px;
        flex-wrap: wrap;
    }
    #card-field{
        padding: 12px;
        gap: 12px;
        flex-wrap: wrap;
    }
    #card-wrapper{
        height: 180px;
        width: 132px;
    }
    #backface-img{
        height: 180px;
        width: 132px;
    }
    #frontface-img{
        height: 180px;
        width: 132px;
    }
    #sage-card-wrapper{
        height: 180px;
        width: 132px;
        border-radius: 12px;
        cursor: pointer;
        animation: fadeIn 0.6s ease forwards;
    }
    #sage-backface-img{
        height: 180px;
        width: 132px;
        border-radius: 12px;
    }
    #sage-frontface-img{
        height: 180px;
        width: 132px;
        border-radius: 12px;
    }
    #player-info{
        padding-inline: 12px;
    }
    #health-img, #round-img{
        height: 18px;
        width: 18px;
    }
    #health-display, #round-display{
        font-size: var(--small-font-size);
    }
    #prompt-wrapper{
        height: 40px;
        flex: 1;
    }
    #prompt-text{
        font-size: var(--small-font-size);
    }
    #victory-popup-wrapper, #defeat-popup-wrapper{
        height: 300px;
        width: 300px;
        padding: 12px;
        top: 132px;
    }
    #close-popup-btn{
        font-size: 24px;
        margin-top: -20px;
        margin-right: -20px;
        filter: brightness(100%);
    }
    #victory-img, #defeat-img{
        height: 140px;
        width: 140px;
        margin: 12px;
    }
    #victory-text, #defeat-text{
        width: 100%;
        font-size: var(--large-font-size);
    }
    #victory-reward-wrapper, #defeat-reward-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-right: 12px;
        gap: 12px;
        margin-top: 12px;
    }
    #victory-reward-text, #defeat-reward-text{
        color: var(--header-color);
        font-family: var(--font-family);
        font-size: var(--normal-font-size);
        font-weight: 500;
    }
    #victory-reward-img, #defeat-reward-img{
        height: 24px;
        width: 24px;
    }
    #bag-wrapper{
        gap: 6px;
        margin-bottom: 12px;
    }
    #bag-img{
        height: 64px;
        width: 64px;
        cursor: pointer;
        margin-left: 0px;
    }
    #bag-text{
        font-size: var(--small-font-size);
    }
    #health-potion-wrapper{
        padding-left: 6px;
    }
    #health-potion-img{
        height: 64px;
        width: 64px;
    }
    #shop-wrapper{
        height: 100vh;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-block: 12px;
        padding-inline: 0px;
        gap: 12px;
        flex-wrap: wrap;
    }
    #buy-potion-wrapper, #buy-crystal-wrapper{
        flex: 1;
    }
    #buy-potion-img, #buy-crystal-img{
        height: 80px;
        width: 80px;
        filter: brightness(100%);
    }
    #buy-potion-title, #buy-crystal-title{
        font-size: var(--small-font-size);
    }
    #buy-potion-info, #buy-crystal-info{
        font-size: var(--small-font-size);
    }
    #buy-potion-btn, #buy-crystal-btn{
        background-color: var(--header-color);
        padding: 6px;
        margin-top: 0px;
        border-radius: 24px;
        width: 80px;
        font-size: 12px;
    }
    #player-bag-popup-wrapper{
        height: 300px;
        width: 300px;
        z-index: 999;
        padding: 12px;
        top: 132px;
    }
    #pentacle-img{
        height: 24px;
        width: 24px;
    }
    #pentacle-text-amount{
        font-size: var(--small-font-size);
    }
    #inventory-potion-img{
        height: 42px;
        width: 42px;
    }
    #close-player-bag-btn{
        font-size: 24px;
        color: var(--light-bgcolor);
        align-self: flex-end;
        justify-self: flex-start;
        margin-top: -20px;
        margin-right: -20px;
        cursor: pointer;
        filter: brightness(80%);
        animation: fadeIn 0.6s ease forwards;
    }
    #close-player-bag-btn:hover{
        filter: brightness(100%);
        transition: 0.3s ease-in-out;
    }
    #bag-text{
        font-size: var(--small-font-size);
    }
}
